body {
    background-color: #212529;
    color: #dee2e6;
}
h3 {
    text-align: center;
    margin-top: 25px;
}
.ui {
    padding: 1rem;
}

hr {
    color: #dee2e6;
}
.progress-bar {
    background: -webkit-linear-gradient(left, #33156d 0%, #f282bc 100%);
}

.progress-bar-stale {
    background: -webkit-linear-gradient(left, #5A5A5A 0%, #000 100%);
}
.interface-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}
.deauth-container {
    display: flex;
    justify-content: center;
    margin: 1% 0;
}
.deauth-option {
    margin: 0 2%;
}
.deauth-input {
    border-radius: 5%;
}

.pre-select-options {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
.selection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.channel {
    margin: 2px;
}

.pre-select {
    margin: 2px;
}

