<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='css/clean.css')}}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body class="header">
  <h3>Kismet Web RSSI Bar</h3>
</body>