{% include "header.html" %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 ui">
                {% if mac == '' %}
                    <h5>Enter MAC: Ex FF:FF:FF:FF:FF:FF</h5>
                {% else %}
                    <h5>Current MAC: {{mac}}</h5>
                {% endif %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ui">
                <form action='/mac' method="post">
                    <input type="text" name="mac" maxlength="17" id="mac"/>
                    <button class="btn btn-primary" type="submit">Set MAC</button>
                </form>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 sub_row ui">
                <button class="btn btn-primary" onclick="dfFunction()" id="df">Start DF</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 sub_row ui">
                <h5 id="channel">Current Channel: </h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 ui">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="25"  aria-valuemax="100" aria-valuemin="0" style="width: 75%" id="prog_0">
                        <span class="progress-bar-label" id="prog_0_label"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 ui">
                <a class="btn btn-primary" id="lock_channel" onclick="lockChannel()">Lock Channel</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ui">
                <h5 id="best">Best Seen: 0</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ui">
                <h2 id="current_rssi">Current RSSI: </h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 ui">
                <button class="btn btn-primary" onclick="toggleAudio()" id="audio">Start Audio</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <h5>Channel Hopping Options</h5>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 ui">
                <a class="btn btn-primary" id="oneSixEleven" onclick="oneSixEleven()">1, 6, 11</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ui">
                <a class="btn btn-primary" id="twoGHz" onclick="twoGHz()">2 GHz</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 ui">
                <a class="btn btn-primary" id="fiveGHz" onclick="fiveGHz()">5 GHz</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ui">
                <a class="btn btn-primary" id="hopAll" onclick="hopAll()">Hop all</a>
            </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" charset="utf-8"></script>
</body>
