{% include "header.html" %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 ui">
                {% if mac == '' %}
                    <h5>Enter MAC: Ex FF:FF:FF:FF:FF:FF</h5>
                {% else %}
                    <h5>Current MAC: {{mac}}</h5>
                {% endif %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ui">
                <form action='/mac' method="post">
                    <input type="text" name="mac" maxlength="17" id="mac"/>
                    <button class="btn btn-primary" type="submit">Set MAC</button>
                </form>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 sub_row ui">
                <button class="btn btn-primary" onclick="dfFunction()" id="df">Start DF</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 sub_row ui">
                <h5 id="channel">Current Channel: </h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 ui">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="25"  aria-valuemax="100" aria-valuemin="0" style="width: 75%" id="prog_0">
                        <span class="progress-bar-label" id="prog_0_label"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 ui">
                <a class="btn btn-primary" id="lock_channel">Lock Channel</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ui">
                <h5 id="best">Best Seen: 0</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ui">
                <h2 id="current_rssi">Current RSSI: </h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 ui">
                <button class="btn btn-primary" onclick="toggleAudio()" id="audio">Start Audio</button>
            </div>
        </div>
        <hr>
         <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Deauth</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="interface-container">
            {% for item in channels %}
                <h4>{{item['kismet.datasource.interface']}}</h4>
                <div class="selection-container">
                    <div class="{{item['kismet.datasource.uuid']}}">
                        {% for num in item['kismet.datasource.channels'] %}
                            {% if num in item['kismet.datasource.hop_channels'] and item['kismet.datasource.hopping'] == 1 %}
                                <a class="btn btn-primary channel" href="{{ url_for('lock_channel', uuid=item['kismet.datasource.uuid'], channel=num)}}">{{num}}</a>
                            {% elif item['kismet.datasource.hopping'] == 0 and item['kismet.datasource.channel'] == num %}
                                <a class="btn btn-primary channel" href="{{ url_for('lock_channel', uuid=item['kismet.datasource.uuid'], channel=num)}}">{{num}}</a>
                            {% else %}
                                <a class="btn btn-outline-primary channel" href="{{ url_for('lock_channel', uuid=item['kismet.datasource.uuid'], channel=num)}}">{{num}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="pre-select-options {{item['kismet.datasource.uuid']}}">
                    <a class="btn btn-primary pre-select one" href="{{ url_for('survey_channels', uuid=item['kismet.datasource.uuid'], option='one')}}">1, 6, 11</a>
                    <a class="btn btn-primary pre-select two" href="{{ url_for('survey_channels', uuid=item['kismet.datasource.uuid'], option='two')}}">2 GHz (No HT)</a>
                    {% if '36' in item['kismet.datasource.channels'] %}
                        <a class="btn btn-primary pre-select three" href="{{ url_for('survey_channels', uuid=item['kismet.datasource.uuid'], option='three')}}">5 GHz (No HT)</a>
                    {% endif %}
                    <a class="btn btn-primary pre-select four" href="{{ url_for('survey_channels', uuid=item['kismet.datasource.uuid'], option='four')}}">All</a>
                </div>
            {% endfor %}
        </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="interface-container">
                    {% for item in channels %}
                        <div class="deauth-container">
                            <h4 class="deauth-option">{{item["kismet.datasource.capture_interface"]}}</h4>
                            <input class="deauth-option deauth-input" placeholder="Reason Code: 7">
                            <input class="deauth-option deauth-input" placeholder="Count: 64">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Aireplay behavior</label>
                            </div>
                            <button class="deauth-option btn btn-danger deauth">Deauth</button>
                        </div>

                    {% endfor %}

                </div>






          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" charset="utf-8"></script>
</body>
